body {
  font-family: "Roboto", sans-serif;
  background-color: #e1e2e3;
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

/* --== Navbar CSS ==-- */
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#ascent-logo {
  width: 40px;
  height: 40px;

  margin: 0.5em;
}

h3.navbar-item {
  margin-top: 0.9em;
  margin-left: 0.5em;
}

.navbar-item.right {
  margin-left: auto;
}

.navbar a {
  font-weight: bold;
}

/* == Navbar Button Container == */
.navbar-item.button-container {
  display: flex;
}

.button-container a {
  background-color: #a6a7a8;
  padding-top: 1.2em;
  padding-left: 1em;
  padding-right: 1em;
}
.button-container a:hover {
  background-color: rgba(166,167,168, 0.8);
  color: #2a7348;
}

/* --== Banner CSS ==-- */
.banner {
  color: #e1e2e3;
  background-image: linear-gradient(45deg, #2a7348 0%, #2a7348 40%, white 40%, silver 41%, #2a7348 41%, #2a7348 44%, white 44%, silver 45%, #2a7348 45%, #2a7348 48%, white 48%, silver 49%, #2a7348 49%, #2a7348 52%, white 52%, silver 53%, #2a7348 53%, #e87400 53%);

  width: 100%;
  height: 12em;
  padding-left: 2em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* This is a bit of a hack to get the box to run to the edges */
  margin-left: -1em;
  margin-right: -1em;
}

.banner h1 {
  margin-left: 1em;
}
.banner img {
  margin-right: 3em;
  width: 10em;
  height: 10em;
}

.primary {
  margin-top: 4em;
  margin-left: 2em;
  margin-right: 2em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* == CARD CSS == */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin: 1em;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  width: 250px;
  height: 150px;
  border-radius: 5px 5px 0 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.cardContainer {
  padding: 2px 16px;
}

/* Info container below the project links/cards */
.infoContainer {
  padding-top: 5em;
  background-color: #3B3C36;
}
.infoContainer > div {
  margin: 0 25vw;
  color: #e1e2e3;
  line-height: 1.7em;
}


/* Footer Styling */
/* Basic footer styling */
footer {
  display: flex;
  margin-top: 7em;
  background-image: 
  linear-gradient(45deg, 
    #e87400 0%, 
    #e87400 10%, 
    white 10%, 
    silver 11%, 
    #e87400 11%, 
    #e87400 14%,
    white 14%, 
    silver 15%,
    #2a7348 15%,
    #2a7348 85%,
    white 85%, 
    silver 86%,
    #e87400 86%,
    #e87400 89%, 
    white 89%,
    silver 90%,
    #e87400 90%);
  justify-content: center;
  align-items: center;
  
  padding: 1em;
  border-radius: 5px 5px 0 0;
}

/* Logo styling in the footer */
.avstLogo, .ascentLogo {
  display: block;
  height: 6em;
  width: 6em;
  margin: 0 1em;
  border-radius: 50%;
}

/* List & Link styling in the footer */
footer > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0 0em;
}
footer > ul > a {
  color: #e1e2e3;
  text-decoration: none;
  margin: 0.5em 0;
}
footer > ul > a:hover {
  text-shadow: 5px 5px rgba(0,0,0,0.5);
  color: rgba(150,150,150,0.9);
}
footer > ul > a > li {
  font-size: 1em;
}

/* This is the only Addition for About Page >>*/
.aboutContainer {
  padding-top: 2em;
}
.aboutContainer > div {
  background-color: #3B3C36;
  color: #e1e2e3;
  margin: 0 20vw;
  padding: 2em;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.4);
  border-radius: 5px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutContainer > div > h4 {
  font-size: 1.25em;
}
.aboutContainer > div > div {
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutContainer > div > div > img {
  height: 187.5px;
  width: 312.5px;
  background-color: grey;
  border-radius: 0;
}
.aboutContainer > div > p {
  width: 75%;
  line-height: 1.7em;
}
.shiftR {
  align-self: flex-end;
}
.shiftL {
  align-self: flex-start;
}
/* << This is the only Addition for About Page */
